.article{
display:flex;
flex-direction:column;
align-items:center;
margin:50px;
}

.text-article{
margin-right:15%;
margin-left:15%;


}
.text-article p{
font-size:20px;
font-family:Arial;
text-align:justify;
line-height:30px;
}
 .banner-article{
 height:400px;
  background-size:cover;
  margin:50px;
 background-image:url(../Images/zaman1.jpg)


}
.banner-article-karar{
height:400px;
  background-size:cover;
  margin:50px;
 background-image:url(../Images/kararbanner.png)



}

.banner-article-game{
height:400px;
  background-size:cover;

  margin:50px;
 background-image:url(../Images/bannergame.webp)

}

.banner-article-oee{
height:400px;
  background-size:cover;

  margin:50px;
 background-image:url(../Images/oeebanner.jpg)

}
.oee{
display:flex;
flex-wrap:nowrap;
margin-right:15%;
margin-left:15%;
gap:10px;


}
.av{
flex:25%;
border-style:solid;
border-radius:15px;
padding:10px;
height:350px;
background-color:lightgrey


}
.av p{
font-size:18px;
font-family:Arial;
text-align:justify;
line-height:30px;
}
.triplemain{
display:flex;
gap:35px;
}
.triplesub{
flex:33.33%;
border-style:solid;
padding:10px;
border-radius:25px;
background-color:lightgrey;


}
@media screen and (max-width: 600px){

.banner-article{
 height:200px;
  background-size:cover;
  margin:0px;
 background-image:url(../Images/zaman1.jpg)

}
.img-article{
width:350;
height:175;

}


}
