body{
position:relative;
background-color:rgb(237, 234, 223);

width:100%;

}

#gradient{
height:100vh;
width:100%;
background-image:linear-gradient(rgb(219, 183, 116)0.01%,rgb(237, 234, 223)100%)

}
header{
display:flex;
align-items:center;
margin-left:10px;

}
.headings{
display:flex;
align-items:center;
}

.headings h1{
padding-left:20px;

}


.headsed{
display:flex;
flex-direction:raw;
justify-content:space-between;
align-items:center;

}

nav {
margin-right:20px;
}

nav ul{
display:flex;
flex-direction:raw;
justify-content:space-around;

}

nav ul li{
color:white;
font-weight:700;
list-style-type:none;
padding-right:30px;
}

nav ul li a {
text-decoration:none;
color:black;
font-family: Arial;
}

a:hover{
color:grey;
}

.text h2{
font-size:25px;
font-weight:400;

}
.text h1{
font-size:48px;
font-weight:400;
width:60%;
height:auto;
padding:10px;
}
.text{
display:flex;
flex-direction:columns;

justify-content:center;
margin:100px;
padding:10px;
}

.project-wrapping{
display:grid;
grid-template-columns: 40% 40%;
grid-auto-rows:minmax(500px,auto);
grid-gap:20px;

justify-content:center;
}

.pj1{
border-style:solid;
border-radius:20px;
padding-top:70px;
align-items:center;

background-image:linear-gradient(rgb(222, 203, 164)0.01%,rgb(122, 163, 163)100%)

}
.pj1 p{
padding:10px;
font-family:Arial;
text-align:justify;
font-size:18px;

}
.pj1 h1{
text-align:center;
font-family:Arial;

}
.pj2{
border-style:solid;
border-radius:20px;
padding-top:70px;
align-items:center;
background-image:linear-gradient(rgb(222, 203, 164)0.01%,rgb(122, 163, 163)100%)

}
.pj2 p{
padding:10px;
font-family:Arial;
text-align:justify;
font-size:18px;
}
.pj2 h1{
text-align:center;
font-family:Arial;

}

.pj3{
border-style:solid;
border-radius:20px;
padding-top:70px;
background-image:linear-gradient(rgb(122, 163, 163)0.01%,rgb(250, 237, 235)100%)






}
.pj3 p{
padding:10px;
font-family:Arial;
text-align:justify;
font-size:18px;
}
.pj3 h1{
text-align:center;
font-family:Arial;

}
.pj4{
border-style:solid;
border-radius:20px;
padding-top:70px;
background-image:linear-gradient(rgb(122, 163, 163)0.01%,rgb(250, 237, 235)100%)


}
.pj4 p{
padding:10px;
font-family:Arial;
text-align:justify;
font-size:18px;
}
.pj4 h1{
text-align:center;
font-family:Arial;

}

/* %%%%%%%%%%%%%%%%%%%%%%% this section for responsive icon in Home Page      %%%%%%%%  */

#iconp{
display:none
}
@media screen and (max-width: 600px){

 #iconpc{
 display:none;
 }
#iconp{
display:block;
}
.headsed{
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-start;
}

nav ul {
position:relative;
display:flex;
flex-direction:column;
justify-content:center;
left:-20px;

}
nav ul li{
padding-bottom:10px;
}
.MobileNav{
display:none;
}
.text{
    width: 80%;
    margin: 30px;
    padding: 9px;


}
.text h1{
    font-size: 20px;
    text-align: justify;
    width: 74%;
    padding-right: 5px;
    padding-left: 0px;
}
.text h2{
    font-size: 15px;
    padding-left: 2px;
}

.project-wrapping{
display:grid;
grid-template-columns: 80%;
grid-auto-rows:minmax(500px,auto);
grid-gap:20px;

}
.mainMe{
flex-direction:column;
align-items:center;
}
.aboutMe{
    margin-right:0px;
    margin-left: 9%;
    margin-top: 3%;


}
.pickofMe img{
position: relative;
    left: 20px;
    width:300px;
    height:400px;
    bottom:0px;

}
.picofMe{
height:auto;
}
.proje img {
width:400px;
height:200px;

}

p.yazi-proje {
    font-size: 20px;
}

}
/* this section for Projects porject sayfasinin  responsive */
@media screen and (max-width: 1252px){
.proje{
flex-wrap:wrap;
}
.proje2{
flex-wrap:wrap;
}

}

/*============================================================================== this section for Projects */

#ProjectsWrapping{
display:flex;
flex-direction:column;
margin-left:5%;
margin-top:5%;
justify-content:center;
align-items:center;
gap:100px;


}
.proje{
margin:20px;
padding:5px;
display:flex;
gap:5px;
border: 1px solid grey;
justify-content:center;
align-items:center;
}

.proje2{
margin:20px;
padding:5px;
display:flex;
flex-direction:row-reverse;
gap:5px;
border-style:solid;
border: 1px solid grey;
justify-content:center;
align-items:center;
}



.yazi-proje{

font-size:30px;
text-align:justify;
padding:15px;


}




/* !!!!!!!!!!!!!!!!!!!!!!!    this section for Abot ME    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
.mainMe{
display:flex;
margin:50px 0px 10px 50px;
justify-items:center;
flex-wrap:wrap;

}

.picofMe{


margin-right:30px;

}

.picofMe img{
position:relative;

}

.aboutMe{
flex:55%;
margin-right:7%;
margin-left:3%;
margin-top:3%;
height:300px;
}

.aboutMe p{
text-align:justify;
font-size:18px;
font-family:Arial;
line-height:30px;

}
.aboutMe ul li a {
text-decoration:none;
color:black;
font-family: Arial;
}
.aboutMe ul li  {
text-decoration:none;
color:black;
font-family: Arial;
line-height:40px;
list-style:none;
}

.aboutMe ul li a:hover{
color:grey;
}




